<ion-content style="height: 60vh">
  <div class="centrado2">
    <img
      src="assets/svg/check.svg"
      alt=""
      style="max-width: 150%; width: 50%"
    />
  </div>

  <div class="text-center">
    <strong style="color: #000" class="disBlock">Registro Exitoso</strong>
    <br />
    <p style="color: #a1a8b0" class="disBlock">
      Tú cuenta ha sido creada con exito
    </p>
  </div>

  <br />
  <div class="justify-content width100">
    <ion-button
      style="--background: #aa83b2; width: 35%; color: #fff"
      (click)="closeModal()"
      (keydown)="closeModal()"
    >
      OK
    </ion-button>
  </div>
</ion-content>
