<ion-content [fullscreen]="true" class="centrado" *ngIf="mostrarLogin">
  <div class="centrado">
    <div>
      <ion-label class="disBlock" style="text-align: center; font-size: 20px; color: #fff;">
        Bienvenido A</ion-label
      >
      <img src="assets/svg/lepsy_logo.svg" alt="" />
      <div>
        <div class="justify-content">
          <ion-button
            expand="block"
            shape="round"
            class="button-acceso width50"
            (click)="onAcceso()"
            (keydown)="onAcceso()"
          >
            Acceso
          </ion-button>
        </div>
        <div class="justify-content">
          <ion-button
            expand="block"
            shape="round"
            class="button-registro width50"
            (click)="onMostrarRegistro()"
            (keydown)="onMostrarRegistro()"
          >
            Registro
          </ion-button>
        </div>
      </div>
    </div>
    <p class="footer_login" style="color: #fff;">“Con Lepsy+ para que siempre llegues a tiempo”</p>
  </div>
</ion-content>

<ion-content *ngIf="mostrarAcceso">
  <div style="height: 100px">
    <img
      src="assets/svg/back-button.svg"
      alt=""
      (click)="onMostrarLogin()"
      (keydown)="onMostrarLogin()"
    />
  </div>

  <div>
    <ion-label class="disBlock" style="text-align: center; font-size: 20px">
      Bienvenido A</ion-label
    >
    <div class="justify-content width100">
      <img src="assets/svg/lepsy_logo.svg" alt="" class="margin-top: 10px;" />
    </div>
    <br /><br />
    <div>
      <div class="justify-content ion-padding">
        <ion-input
          type="text"
          fill="outline"
          placeholder="CORREO"
          [clearInput]="true"
          mode="md"
        ></ion-input>
      </div>
      <div class="justify-content ion-padding" style="padding-top: 0px">
        <ion-input
          type="text"
          fill="outline"
          placeholder="CONSTRASEÑA"
          [clearInput]="true"
          mode="md"
        ></ion-input>
      </div>
      <br />
      <div class="justify-content">
        <ion-button
          expand="block"
          shape="round"
          class="button-registro width50"
          (click)="onInicio()"
          (keydown)="onInicio()"
        >
          Registro
        </ion-button>
      </div>
    </div>
    <p class="footer_login" style="color: #fff;">“Con Lepsy+ para que siempre llegues a tiempo”</p>
  </div>

  <div class="footer_img">
    <img src="assets/svg/lepsy_icono.svg" alt="" />
  </div>
</ion-content>

<ion-content *ngIf="mostrarRegistro" style="--background: #fef7ff">
  <div style="height: 100px; text-align: center">
    <img
      src="assets/svg/back-button-dark.svg"
      alt=""
      (click)="onMostrarLogin()"
      (keydown)="onMostrarLogin()"
      class="back-button-dark"
    />

    <ion-label class="header-crear disBlock" style="padding-top: 50px"
      >Crear Cuenta</ion-label
    >
  </div>
  <br /><br />
  <div class="justify-content mgt-10 mgr-10 mgl-10">
    <ion-input
      type="text"
      fill="outline"
      placeholder="NOMBRE DEL PACIENTE"
      [clearInput]="true"
      mode="md"
    ></ion-input>
  </div>

  <div class="justify-content mgt-10 mgr-10 mgl-10">
    <ion-input
      type="text"
      fill="outline"
      placeholder="INGRESAR UN CORREO"
      [clearInput]="true"
      mode="md"
    ></ion-input>
  </div>
  <div class="justify-content mgt-10 mgr-10 mgl-10">
    <ion-input
      type="text"
      fill="outline"
      placeholder="INGRESAR UNA CONSTRASEÑA"
      [clearInput]="true"
      mode="md"
    ></ion-input>
  </div>

  <div class="justify-content mgt-10 mgr-10 mgl-10">
    <ion-input
      type="text"
      fill="outline"
      placeholder="CONFIRMAR CONSTRASEÑA"
      [clearInput]="true"
      mode="md"
    ></ion-input>
  </div>
  <br /><br />

  <ion-item
    lines="none"
    style="--background: #fef7ff; color: black"
    class="mgt-10"
  >
    <ion-checkbox
      slot="start"
      aria-label="Toggle task completion"
      mode="ios"
    ></ion-checkbox>
    <p>
      Estoy deacuerdo los Terminos de servicios y politica de privacidad de
      Lepsy+
    </p>
  </ion-item>

  <br />
  <div class="justify-content">
    <ion-button
      expand="block"
      class="button-acceso width50"
      (click)="openModal()"
      (keydown)="openModal()"
    >
      Registrar
    </ion-button>
  </div>
  <br /><br /><br /><br /><br />

  <div class="justify-content">
    <img src="assets/svg/lepsy_logo_dark.svg" alt="" />
  </div>
</ion-content>
