<div class="ion-padding" style="background: #f9f3f9">
  <br />
  <ion-label>Configuración</ion-label>
  <br /><br /><br><br>

  <ion-label>Tipo de Alarma</ion-label>
  <ion-item lines="none">
    <ion-toggle mode="ios"> Vibración</ion-toggle>
  </ion-item>

  <ion-item lines="none">
    <ion-toggle mode="ios"> Alarma sonora</ion-toggle>
  </ion-item>

  <br /><br />
  <div>
    <div>Intensidad / Volumen</div>
    <ion-range class="mgl-10"> </ion-range>
  </div>

  <div>
    <div>Intensidad / Vibración</div>
    <ion-range class="mgl-10"> </ion-range>
  </div>

  <br /><br />
  <ion-label>Sonido de alarma</ion-label>
  <ion-item lines="none">
    <ion-toggle mode="ios"> Notificación sonora de medicación</ion-toggle>
  </ion-item>

  <ion-item lines="none">
    <ion-toggle mode="ios">Notificación visual de medicación</ion-toggle>
  </ion-item>
  <div>
    <div>Intensidad / Volumen</div>
    <ion-range class="mgl-10"> </ion-range>
  </div>
</div>
